.button{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 15%;
    
}
.button button{
    width: 250px;
    height: 60px;
    font-size: xx-large;
    border-radius: 30px;
    border: 0px;
    background-color: #424956;
    color: white;
    text-shadow: 2px 1px;
    font-family: "Segoe Print";
    box-shadow: 3px 5px 3px #717080;
}


.lanselect{
    color:rgb(63 73 72);
    font-size: 50px;
    font-family: "Segoe Print";
    position: absolute;
    top: 80px;
}
.hclass{
    display: flex;
    justify-content: center;
    width: 100vw;
}